<form (ngSubmit)="submit()" #classForm="ngForm">
	<div class="modal-header">
		<h4 class="modal-title">
			{{ isEditing ? "Редагувати" : "Додати" }} групу
		</h4>
		<button type="button" class="close" aria-label="Close"
		        (click)="activeModal.dismiss('')">
			<i class="fa fa-remove" aria-hidden="true"></i>
		</button>
	</div>

	<div class="modal-body">
		<p *ngIf="error" class="text-danger text-center">
			{{ errorText }}
		</p>

		<div class="container">
			<div class="row">
				<div class="col-8">
					<label for="name" class="form-control-label">
						Назва (номер курсу має бути 0)
					</label>
					<input id="name" name="name" [(ngModel)]="group.name"
					       class="form-control" required (change)="change()" />
				</div>
				<div class="col-4">
					<label for="numStudents" class="form-control-label">
						К-ть студентів
					</label>
					<input id="numStudents" type="number" name="numStudents"
					       [(ngModel)]="group.numStudents"
					       class="form-control" required (change)="change()" />
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-success">
			OK
		</button>
		<button type="button" class="btn btn-secondary"
		        (click)="activeModal.dismiss('')">
			Скасувати
		</button>
	</div>
</form>
