<h1 class="text-center">{{ currentUser.faculty.name }}</h1>
<h2 class="text-center">Розклад</h2>

<table class="table table-bordered">
	<thead>
	<tr>
		<th>День</th>
		<th colspan="9" class="text-center">Понеділок</th>
		<th colspan="9" class="text-center">Вівторок</th>
		<th colspan="9" class="text-center">Середа</th>
		<th colspan="9" class="text-center">Четвер</th>
		<th colspan="9" class="text-center">П'ятниця</th>
	</tr>
	<tr>
		<th>#&nbsp;пари</th>
		<th *ngFor="let n of getArrayOfNumbers(45)" class="text-center">
			{{ n % 9 + 1 }}
		</th>
	</tr>
	<tr>
		<th>Час</th>
		<th *ngFor="let n of getArrayOfNumbers(45)" class="text-center">
			{{ getClassStart(n % 9 + 1) }}<br />{{ getClassEnd(n % 9 + 1) }}
		</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let lecturer of lecturers">
		<th>{{ getLecturerInitials(lecturer) }}</th>
		<td *ngFor="let n of getArrayOfNumbers(45)">
			<div [ngSwitch]="getClassFrequency(lecturer, floor(n / 9 + 1), n % 9 + 1)">
				<ng-container *ngSwitchCase="0">
					<button class="btn btn-outline-primary">
						<span class="fa fa-plus" aria-hidden="true"></span>
					</button>
				</ng-container>
				<ng-container *ngSwitchCase="1">
					<button class="btn btn-outline-primary">
						<span class="fa fa-minus" aria-hidden="true"></span>
					</button>
				</ng-container>
				<ng-container *ngSwitchCase="2">
					<button class="btn btn-outline-primary">
						<span class="fa fa-minus" aria-hidden="true"></span>
					</button>
					<button class="btn btn-outline-primary">
						<span class="fa fa-plus" aria-hidden="true"></span>
					</button>
				</ng-container>
				<ng-container *ngSwitchCase="3">
					<button class="btn btn-outline-primary">
						<span class="fa fa-plus" aria-hidden="true"></span>
					</button>
					<button class="btn btn-outline-primary">
						<span class="fa fa-minus" aria-hidden="true"></span>
					</button>
				</ng-container>
				<ng-container *ngSwitchCase="4">
					<button class="btn btn-outline-primary">
						<span class="fa fa-minus" aria-hidden="true"></span>
					</button>
					<button class="btn btn-outline-primary">
						<span class="fa fa-minus" aria-hidden="true"></span>
					</button>
				</ng-container>
			</div>
		</td>
	</tr>
	</tbody>
</table>
