<form (ngSubmit)="submit()" #classForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">
            {{ isEditing ? "Редагувати" : "Додати" }} користувача
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('')">
			<i class="fa fa-remove" aria-hidden="true"></i>
		</button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p *ngIf="error" class="text-danger text-center">
                        {{ errorText }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="form-check form-check-inline">
                        <label *ngFor="let authority of authorities" class="form-check-label">
							<input class="form-check-inline" type="checkbox"
							       (change)="authorityChecked(authority)"
							       [attr.checked]="isAuthorityChecked(authority) ? true : null" />
							{{ getAuthorityName(authority) }}
						</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="username" class="form-control-label">
							Логін
						</label>
                        <input id="username" name="username" [(ngModel)]="user.username" class="form-control" required (change)="change()" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="firstName" class="form-control-label">
							Прізвище
						</label>
                        <input id="lastName" name="lastName" [(ngModel)]="user.lastName" class="form-control" required (change)="change()" />
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="faculty">Факультет</label>
                        <select class="form-control" id="faculty" name="faculty" [(ngModel)]="currentFaculty" (change)="change(); setDepartments()">
							<option *ngIf="!isEditing" selected [value]="null">
								Виберіть факультет
							</option>
							<option *ngFor="let faculty of faculties"
							        [ngValue]="faculty">
								{{ faculty.name }}
							</option>
						</select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="firstName" class="form-control-label">
							Ім'я
						</label>
                        <input id="firstName" name="firstName" [(ngModel)]="user.firstName" class="form-control" required (change)="change()" />
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="department">Спеціальність</label>
                        <select class="form-control" id="department" name="department" [(ngModel)]="user.department" (change)="change()">
							<option *ngIf="!isEditing" selected [value]="null">
								Виберіть спеціальність
							</option>
							<option *ngFor="let department of departments"
							        [ngValue]="department">
								{{ department.name }}
							</option>
						</select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="middleName" class="form-control-label">
								По-батькові
							</label>
                        <input id="middleName" name="middleName" [(ngModel)]="user.middleName" class="form-control" required (change)="change()" />
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="position" class="form-control-label">
								Посада
							</label>
                        <input id="position" name="position" [(ngModel)]="user.position" class="form-control" required (change)="change()" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">Пов'язані спеціальності</div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapseDepartments" aria-expanded="false" aria-controls="collapseDepartments">
						Додати
					</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div *ngIf="!!user.relatedDepartments">
                        {{ getDepartmentsAsString(user.relatedDepartments) }}
                    </div>
                    <div class="collapse mt-2" id="collapseDepartments">
                        <div id="departments" role="tablist" aria-multiselectable="true">
                            <div *ngFor="let item of facultyDepartments" class="card">
                                <div class="card-header" role="tab" id="header{{ item.faculty.id }}">
                                    <h6 class="m-0">
                                        <a data-toggle="collapse" data-parent="#departments" href="#collapse{{ item.faculty.id }}" aria-expanded="false" [attr.aria-controls]="'collapse' + item.faculty.id">
											{{ item.faculty.name }}
										</a>
                                    </h6>
                                </div>
                                <div class="collapse" id="collapse{{ item.faculty.id }}" role="tabpanel" [attr.aria-labelledby]="item.faculty.id">
                                    <div class="card-body">
                                        <div *ngIf="item.departments.length === 0">
                                            <p>Немає спеціальностей.</p>
                                        </div>
                                        <div *ngFor="let department of item.departments" class="form-check">
                                            <label class="form-check-label" (change)="departmentChecked(department)">
												<input type="checkbox" class="form-check-input"
														[attr.checked]="isDepartmentChecked(department) ? true : null" />
												{{ department.name }}
											</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success">
			OK
		</button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('')">
			Скасувати
		</button>
    </div>
</form>