<div id="available-classes" class="table-responsive scroll-x" dropDirective (dropEvent)="addDropItem($event, -1, 0)">
    <div class="d-inline-flex text-white justify-content-center">
        <div *ngFor="let class of availableClasses" class="m-1 bg-primary not-set-class">
            <div [dragDirective]='class' [dragHightlight]="'drag-highlight'" (releaseDrop)="releaseDrop(class)" (startDrag)="startDrag(class)">
                <div ngbTooltip="{{class.subject.name}}" #tooltip="ngbTooltip" (mousedown)="tooltip.close()">
                    <div><b>{{ getShortName(class.subject.name) }}</b></div>
                    <div>{{ class.type }}</div>
                    <div>{{ getGroupsAsString(class.groups) }}</div>
                </div>
            </div>
        </div>
    </div>
</div>