<h1 class="text-center">Розклад занять</h1>

<div class="card card-block m-3 p-2" *ngFor="let faculty of faculties">
	<button class="btn btn-outline-primary" type="button"
	        data-toggle="collapse"
	        [attr.data-target]="'#collapse' + faculty.id"
	        aria-expanded="false"
	        [attr.aria-controls]="'collapse' + faculty.id">
		{{ faculty.name }}
	</button>

	<div class="collapse" id="collapse{{ faculty.id }}">
		<div class="card card-block m-2 p-1" *ngFor="let course of [ 1, 2, 3, 4, 5, 6 ]">
			<button class="btn btn-outline-primary" type="button"
			        data-toggle="collapse" aria-expanded="false"
			        [attr.data-target]="'#collapse' + faculty.id + course"
			        [attr.aria-controls]="'collapse' + faculty.id + course">
				{{ course }} курс
			</button>

			<div class="collapse" id="collapse{{ faculty.id }}{{ course }}">
				<div class="card m-1 p-1" *ngFor="let group of getGroups(faculty.id, course)">
					<button class="btn btn-outline-primary"
					        (click)="navigateToGroup(group.id)">
						{{ getCurrentGroupName(group) }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

