<h1 class="text-center">Розклад занять</h1>

<div class="card card-block m-3 p-2" *ngFor="let faculty of faculties">
	<button class="btn btn-outline-primary" type="button"
	        data-toggle="collapse"
	        [attr.data-target]="'#collapse' + faculty.id"
	        aria-expanded="false"
	        [attr.aria-controls]="'collapse' + faculty.id">
		{{ faculty.name }}
	</button>
	<div class="collapse" id="collapse{{ faculty.id }}">
		<div class="card card-block m-1 p-1" *ngFor="let user of users.get(faculty.id)">
			<button class="btn btn-outline-primary"
			        (click)="navigateToLecturer(user.id)">
				{{ user.lastName }} {{ user.firstName }} {{ user.middleName }}
			</button>
		</div>
	</div>
</div>
