<h1>Розклад групи {{ getCurrentGroupName(currentGroup) }}</h1>
s
<table class="table table-bordered">
	<thead>
		<tr>
			<th>День</th>
			<th># пари</th>
			<th>Час</th>
			<th>Проводиться</th>
			<th>Предмет</th>
			<th>Тип</th>
			<th>Аудиторії</th>
			<th>Викладачі</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let c of classes">
			<td>{{ getDayOfWeekName(c.key.dayOfWeek) }}</td>
			<td>{{ c.key.number }}</td>
			<td>{{ getClassStart(c.key) }} - {{ getClassEnd(c.key) }}</td>
			<td>{{ getFrequencyName(c.key.frequency) }}</td>
			<td>{{ c.value.subject.name }}</td>
			<td>{{ c.key.type }}</td>
			<td>{{ getClassroomsString(c.value.classrooms) }}</td>
			<td>{{ getLecturersString(c.value.lecturers) }}</td>
		</tr>
	</tbody>
</table>
