<h1 class="text-center">{{ currentUser.faculty.name }}</h1>
<h2 class="text-center">Розклад</h2>

<table class="table table-bordered table-hover table-sm table-responsive">
	<thead>
	<tr>
		<th class="text-center">День</th>
		<th colspan="9" class="text-center">Понеділок</th>
		<th colspan="9" class="text-center">Вівторок</th>
		<th colspan="9" class="text-center">Середа</th>
		<th colspan="9" class="text-center">Четвер</th>
		<th colspan="9" class="text-center">П'ятниця</th>
	</tr>
	<tr>
		<th class="text-center">#&nbsp;пари</th>
		<th *ngFor="let n of getArrayOfNumbers(45)" class="text-center">
			{{ n % 9 + 1 }}
		</th>
	</tr>
	<tr>
		<th class="text-center">Час</th>
		<th *ngFor="let n of getArrayOfNumbers(45)" class="text-center">
			{{ getClassStart(n % 9 + 1) }}<br />{{ getClassEnd(n % 9 + 1) }}
		</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let lecturer of lecturers">
		<th class="text-center">{{ getLecturerInitials(lecturer) }}</th>
		<td *ngFor="let n of getArrayOfNumbers(45)" class="text-center">
			<div [ngSwitch]="getClassFrequency(lecturer, floor(n / 9 + 1), n % 9 + 1)">
				<ng-container *ngSwitchCase="0"> <!-- NONE -->
					<button class="btn btn-sm btn-outline-primary">
						<span class="fa fa-plus" aria-hidden="true"></span>
					</button>
				</ng-container>
				<ng-container *ngSwitchCase="1"> <!-- WEEKLY -->
					<button class="btn btn-sm btn-outline-primary">
						<small>
							{{ getClassInfo(lecturer, floor(n / 9 + 1), n % 9 + 1, "щотижня").c.subject.name }}
						</small>
					</button>
				</ng-container>
				<ng-container *ngSwitchCase="2"> <!-- NUMERATOR -->
					<button class="btn btn-sm btn-outline-primary">
						<small>
							{{ getClassInfo(lecturer, floor(n / 9 + 1), n % 9 + 1, "по чисельнику").c.subject.name }}
						</small>
					</button>
					<br />
					<button class="btn btn-sm btn-outline-primary">
						<span class="fa fa-plus" aria-hidden="true"></span>
					</button>
				</ng-container>
				<ng-container *ngSwitchCase="3"> <!-- DENOMINATOR -->
					<button class="btn btn-sm btn-outline-primary">
						<span class="fa fa-plus" aria-hidden="true"></span>
					</button>
					<br />
					<button class="btn btn-sm btn-outline-primary">
						<small>
							{{ getClassInfo(lecturer, floor(n / 9 + 1), n % 9 + 1, "по знаменнику").c.subject.name }}
						</small>
					</button>
				</ng-container>
				<ng-container *ngSwitchCase="4"> <!-- BOTH -->
					<button class="btn btn-sm btn-outline-primary">
						<small>
							{{ getClassInfo(lecturer, floor(n / 9 + 1), n % 9 + 1, "по чисельнику").c.subject.name }}
						</small>
					</button>
					<br />
					<button class="btn btn-sm btn-outline-primary">
						<small>
							{{ getClassInfo(lecturer, floor(n / 9 + 1), n % 9 + 1, "по знаменнику").c.subject.name }}
						</small>
					</button>
				</ng-container>
			</div>
		</td>
	</tr>
	</tbody>
</table>
