<h1 class="text-center">Розклад занять</h1>

<!--<div class="card card-block m-3 p-2" *ngFor="let faculty of faculties">
	<button class="btn btn-outline-primary" type="button"
	        data-toggle="collapse"
	        [attr.data-target]="'#collapse' + faculty.id"
	        aria-expanded="false"
	        [attr.aria-controls]="'collapse' + faculty.id">
		{{ faculty.name }}
	</button>

	<div class="collapse" id="collapse{{ faculty.id }}">
		<div class="card card-block m-2 p-1" *ngFor="let course of [ 1, 2, 3, 4, 5, 6 ]">
			<button class="btn btn-outline-primary" type="button"
			        data-toggle="collapse" aria-expanded="false"
			        [attr.data-target]="'#collapse' + faculty.id + course"
			        [attr.aria-controls]="'collapse' + faculty.id + course">
				{{ course }} курс
			</button>

			<div class="collapse" id="collapse{{ faculty.id }}{{ course }}">
				<div class="card m-1 p-1" *ngFor="let group of getGroups(faculty.id, course)">
					<button class="btn btn-outline-primary"
					        (click)="navigateToGroup(group.id)">
						{{ getCurrentGroupName(group) }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>-->
<div class="container">
	<div class="row justify-content-center">
		<div class="col">
			<div id="faculties" role="tablist" aria-multiselectable="true">
				<div class="card" *ngFor="let faculty of faculties">
					<div class="card-header" role="tab" id="{{ faculty.id }}">
						<h6 class="m-0">
							<a data-toggle="collapse"
								 data-parent="#faculties"	href="#faculty{{ faculty.id }}"
								 aria-expanded="false" [attr.aria-controls]="'faculty'+faculty.id">
								{{ faculty.name }}
							</a>
						</h6>
					</div>

					<div id="faculty{{ faculty.id }}" class="collapse"
							 role="tabpanel" [attr.aria-labelledby]="faculty.id">
						<div class="card card-block">
							<div *ngFor="let course of [ 1, 2, 3, 4, 5, 6 ]" class="card">
								<h6 class="m-2">
									<a data-toggle="collapse" [attr.data-parent]="'#faculty'+faculty.id"
										 href="#faculty{{ faculty.id }}{{ course }}"
										 aria-expanded="false" [attr.aria-controls]="'faculty'+faculty.id+course">
										{{course}} курс
									</a>
								</h6>

								<div id="faculty{{ faculty.id }}{{ course }}" class="collapse"
										 role="tabpanel" [attr.aria-labelledby]="'faculty'+faculty.id+course">
									<div *ngFor="let group of getGroups(faculty.id, course)">
										<div class="dropdown-divider m-0"></div>
										<div class="btn btn-link m-0" style="cursor: pointer"
												 (click)="navigateToGroup(group.id)">
											{{getCurrentGroupName(group)}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



