<form>
	<div class="modal-header">
		<h4 class="modal-title">
			{{ currentClass.dayOfWeek }}, {{ currentClass.number}} пара
		</h4>
		<button type="button" class="close" aria-label="Close"
		        (click)="activeModal.dismiss('')">
			<i class="fa fa-remove" aria-hidden="true"></i>
		</button>
	</div>

	<div class="modal-body">
		<h6 class="h6">
			{{ getLecturerInitials(currentClass.lecturers[0]) }}
		</h6>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="subjectSelect">Предмет:</label>
						<select class="form-control" id="subjectSelect"
						        required name="subject"
						        [(ngModel)]="currentClass.subject"
						        (change)="subjectSelected()">
							<option selected [value]="null">
								Виберіть предмет
							</option>
							<option *ngFor="let subject of subjects"
							        [ngValue]="subject">
								{{ subject.name }}
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="classTypeSelect">Тип пари:</label>
						<select class="form-control" id="classTypeSelect"
						        required name="type"
						        [(ngModel)]="currentClass.type"
						        (change)="classTypeSelected()">
							<option selected [value]="null">
								Виберіть тип пари
							</option>
							<option *ngFor="let type of [ 'Лекція', 'Практична', 'Лабораторна' ]">
								{{ type }}
							</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="classroomTypeSelect">Тип аудиторії:</label>
						<select class="form-control" id="classroomTypeSelect"
						        required name="classroomType"
						        [(ngModel)]="currentClass.classroomType"
						        (change)="classroomTypeSelected()">
							<option *ngFor="let type of [ defaultClassroomType ].concat(classroomTypes)"
							        [ngValue]="type === defaultClassroomType ? null : type">
								{{ type.type }}
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="buildingSelect">Корпус:</label>
						<select class="form-control" id="buildingSelect"
						        required name="selectedBuilding"
						        [(ngModel)]="selectedBuilding"
						        (change)="buildingSelected()">
							<option *ngFor="let building of buildings; let first = first"
							        [attr.selected]="first ? 'selected' : null"
							        [ngValue]="building">
								{{ building.name }}
							</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<span class="mr-2">
						Групи: {{ getGroupsAsString(currentClass.groups) }}
					</span>

					<button class="btn btn-primary" type="button"
					        data-toggle="collapse" data-target="#collapseGroups"
					        aria-expanded="false" aria-controls="collapseGroups">
						Додати
					</button>

					<div class="collapse mt-2" id="collapseGroups">
						<div *ngIf="availableGroups.length === 0">
							<p>Немає вільних груп.</p>
						</div>
						<div *ngFor="let group of availableGroups"
						     class="form-check">
							<label class="form-check-label"
							       (change)="groupChecked(group)">
								<input type="checkbox" class="form-check-input" />
								{{ getCurrentGroupName(group) }}
							</label>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<span class="mr-2">
						Викладачі: {{ getLecturersAsString(currentClass.lecturers) }}
					</span>
					<button class="btn btn-primary" type="button"
					        data-toggle="collapse" data-target="#collapseLecturers"
					        aria-expanded="false" aria-controls="collapseLecturers">
						Додати
					</button>

					<div class="collapse mt-2" id="collapseLecturers">
						<div *ngIf="availableLecturers.length === 0">
							<p>Немає вільних викладачів.</p>
						</div>
						<div *ngFor="let lecturer of availableLecturers"
						     class="form-check">
							<label class="form-check-label"
							       (change)="lecturerChecked(lecturer)">
								<input type="checkbox" class="form-check-input" />
								{{ getLecturerInitials(lecturer) }}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">
			OK
		</button>
		<button type="button" class="btn btn-secondary"
		        (click)="activeModal.close('')">
			Скасувати
		</button>
	</div>
</form>
