<div>
    <h1 class="text-center">{{ currentUser.department.faculty.name }}</h1>
    <h2 class="text-center">Розклад</h2>
    <div id="schedule-table" class="table-responsive">
        <table type="table" class="table table-bordered table-sm table-striped" id="header">
            <thead>
                <tr>
                    <th class="text-center">День</th>
                    <th colspan="9" class="text-center">Понеділок</th>
                    <th colspan="9" class="text-center">Вівторок</th>
                    <th colspan="9" class="text-center">Середа</th>
                    <th colspan="9" class="text-center">Четвер</th>
                    <th colspan="9" class="text-center">П'ятниця</th>
                </tr>
                <tr>
                    <th class="text-center">#&nbsp;пари</th>
                    <th *ngFor="let n of getArrayOfNumbers(45)" class="text-center">
                        {{ getNumber(n) }}
                    </th>
                </tr>
                <tr>
                    <th class="text-center">Початок<br />Кінець</th>
                    <th *ngFor="let n of getArrayOfNumbers(45)" class="text-center">
                        {{ getClassStart(getNumber(n)) }}<br />{{ getClassEnd(getNumber(n)) }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lecturer of lecturers">
                    <ng-container *ngIf="areLoaded.get(lecturer.id)">
                        <td>
                            <div class="btn btn-block btn-sm text-center">
                                {{ getLecturerInitials(lecturer) }}
                            </div>
                            <div class="btn btn-block btn-sm text-center" style="visibility: hidden">
                                яйко-сподівайко
                            </div>
                        </td>

                        <td *ngFor="let cell of lecturersClassesAll.get(lecturer.id)" class="text-center">
                            <div dropDirective (dropEvent)="addDropItem($event, cell.n)">
                                <div [ngSwitch]="cell.frequency">
                                    <!-- NONE -->
                                    <ng-container *ngSwitchCase="0">
                                        <ng-container *ngTemplateOutlet="emptyCell"></ng-container>
                                        <button class="btn btn-block btn-sm placeholder">
                                        яйко-сподівайко
                                    </button>
                                    </ng-container>
                                    <!-- WEEKLY -->
                                    <ng-container *ngSwitchCase="1">
                                        <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.weekly }"></ng-container>
                                    </ng-container>
                                    <!-- NUMERATOR -->
                                    <ng-container *ngSwitchCase="2">
                                        <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.numerator }"></ng-container>
                                        <ng-container *ngTemplateOutlet="emptyCell"></ng-container>
                                    </ng-container>
                                    <!-- DENOMINATOR -->
                                    <ng-container *ngSwitchCase="3">
                                        <ng-container *ngTemplateOutlet="emptyCell"></ng-container>
                                        <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.denominator }"></ng-container>
                                    </ng-container>
                                    <!-- BIWEEKLY -->
                                    <ng-container *ngSwitchCase="4">
                                        <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.numerator }"></ng-container>
                                        <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.denominator }"></ng-container>
                                    </ng-container>
                                </div>

                                <ng-template #emptyCell>
                                    <button class="btn btn-block btn-sm btn-outline-primary" placement="right" ngbTooltip="{{ getDayOfWeekName(getDay(cell.n)) }}, {{ getNumber(cell.n) }} пара" container="body" (click)="addClassClicked(0, getDay(cell.n), getNumber(cell.n), lecturer, getWish(lecturer.id,getDay(cell.n), getNumber(cell.n)))">
                                    <span class="fa fa-plus"></span>
                                </button>
                                </ng-template>

                                <ng-template #fullCell let-class="class">
                                    <ng-template #tooltip>
                                        <p>{{ class.dayOfWeek }}, {{ class.number }} пара</p>
                                        <p>{{ class.frequency }}</p>
                                        <p>{{ class.subject.name }}</p>
                                        <p>{{ getGroupsAsString(class.groups) }}</p>
                                        <p>{{ getClassroomsAsString(class.classrooms) }}</p>
                                        <p>{{ getLecturersAsString(class.lecturers) }}</p>
                                    </ng-template>
                                    <div [dragDirective]='class' [dragHightlight]="'highlight'" (releaseDrop)="releaseDrop($event, lecturer.id)" (startDrag)="startDrag(class, cell.n)">
                                        <button class="btn btn-block btn-sm btn-primary" placement="right" [ngbTooltip]="tooltip" container="body" (click)="editClassClicked(class, lecturer)">
                                        {{ class.subject.name }}
                                    </button>
                                    </div>
                                </ng-template>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>