<div id="schedule-editor" class=container-fluid>
    <div class="row">
        <div class="col">
            <h1 class="text-center">{{ currentUser.department.faculty.name }}</h1>
            <h2 class="text-center">Розклад</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-0 p-0 text-center control control-left" (mouseenter)="scrollLeft=true;" (mouseleave)="scrollLeft=false;">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div class="col-12 ">
            <div #scheduleTable id="schedule-table" class="table-responsive  scroll-x">
                <table type="table" class="table table-bordered table-sm table-striped" id="header">
                    <thead>
                        <tr>
                            <th class="text-center ">День</th>
                            <th colspan="9" class="text-center">Понеділок</th>
                            <th colspan="9" class="text-center">Вівторок</th>
                            <th colspan="9" class="text-center">Середа</th>
                            <th colspan="9" class="text-center">Четвер</th>
                            <th colspan="9" class="text-center">П'ятниця</th>
                        </tr>
                        <tr>
                            <th class="text-center ">#&nbsp;пари</th>
                            <th *ngFor="let n of getArrayOfNumbers(45)" class="text-center">
                                {{ getNumber(n) }}
                            </th>
                        </tr>
                        <tr class="text-sm">
                            <th class="text-center ">Початок<br />Кінець</th>
                            <th *ngFor="let n of getArrayOfNumbers(45)" class="text-center">
                                {{ getClassStart(getNumber(n)) }}<br />{{ getClassEnd(getNumber(n)) }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td [attr.rowspan]="lecturers.length" class="text-center fixed left" (mouseenter)="scrollLeft=true;" (mouseleave)="scrollLeft=false;">
                                <div *ngFor="let n of getArrayOfNumbers(lecturers.length * 2)" class="btn btn-block btn-sm text-center placeholder text-sm">
                                    яйко-сподівайко
                                </div>
                            </td>
                            <td colspan="44" class="content">
                            </td>
                            <td [attr.rowspan]="lecturers.length" class="text-center fixed right" (mouseenter)="scrollRight=true;" (mouseleave)="scrollRight=false;">
                                <div *ngFor="let n of getArrayOfNumbers(lecturers.length * 2)" class="btn btn-block btn-sm text-center placeholder text-sm">
                                    яйко-сподівайко
                                </div>
                            </td>
                        </tr> -->
                        <tr *ngFor="let lecturer of lecturers">
                            <ng-container *ngIf="areLoaded.get(lecturer.id)">
                                <td>
                                    <div class="btn btn-block btn-sm text-center text-sm">
                                        {{ getLecturerInitials(lecturer) }}
                                    </div>
                                    <div class="btn btn-block btn-sm text-center placeholder text-sm">
                                        яйко-сподівайко
                                    </div>
                                </td>

                                <td *ngFor="let cell of lecturersClassesAll.get(lecturer.id)" class="text-center">
                                    <div [ngSwitch]="cell.frequency">
                                        <!-- NONE -->
                                        <ng-container *ngSwitchCase="0">
                                            <ng-container *ngTemplateOutlet="emptyCell; context: { frequency: 2 }"></ng-container>
                                            <ng-container *ngIf="showDenominator">
                                                <ng-container *ngTemplateOutlet="emptyCell; context: { frequency: 3 }"></ng-container>
                                            </ng-container>
                                        </ng-container>
                                        <!-- WEEKLY -->
                                        <ng-container *ngSwitchCase="1">
                                            <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.weekly }"></ng-container>
                                        </ng-container>
                                        <!-- NUMERATOR -->
                                        <ng-container *ngSwitchCase="2">
                                            <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.numerator }"></ng-container>
                                            <ng-container *ngTemplateOutlet="emptyCell; context: { frequency: 3 }"></ng-container>
                                        </ng-container>
                                        <!-- DENOMINATOR -->
                                        <ng-container *ngSwitchCase="3">
                                            <ng-container *ngTemplateOutlet="emptyCell; context: { frequency: 2 }"></ng-container>
                                            <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.denominator }"></ng-container>
                                        </ng-container>
                                        <!-- BIWEEKLY -->
                                        <ng-container *ngSwitchCase="4">
                                            <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.numerator }"></ng-container>
                                            <ng-container *ngTemplateOutlet="fullCell; context: { class: cell.denominator }"></ng-container>
                                        </ng-container>
                                    </div>

                                    <ng-template #emptyCell let-frequency="frequency">
                                        <div dropDirective (dropEvent)="addDropItem($event, lecturer, cell.n, frequency)">
                                            <button class="btn btn-block btn-sm btn-outline-{{ dragClass && !canDrop(lecturer) ? 'danger' : 'primary' }}" placement="right" ngbTooltip="{{ getDayOfWeekName(getDay(cell.n)) }}, {{ getNumber(cell.n) }} пара" container="body" (click)="addClassClicked(0, getDay(cell.n), getNumber(cell.n), lecturer, getWish(lecturer.id, getDay(cell.n), getNumber(cell.n)))">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                        </div>
                                    </ng-template>

                                    <ng-template #fullCell let-class="class">
                                        <ng-template #tooltip>
                                            <div>{{ class.dayOfWeek }}, {{ class.number }} пара</div>
                                            <div>{{ class.frequency }}</div>
                                            <div>{{ class.subject.name }}</div>
                                            <div>{{ class.type }}</div>
                                            <div>{{ getGroupsAsString(class.groups) }}</div>
                                            <div>{{ getClassroomsAsString(class.classrooms) }}</div>
                                            <div>{{ getLecturersAsString(class.lecturers) }}</div>
                                        </ng-template>
                                        <div [dragDirective]='class' [dragHightlight]="'drag-highlight'" (releaseDrop)="releaseDrop(class)" (startDrag)="startDrag(class, lecturer, cell.n)">
                                            <button class="btn btn-block btn-sm btn-primary" placement="right" [ngbTooltip]="tooltip" container="body" (click)="editClassClicked(class, lecturer)">
                                        <span class="fa fa-calendar-check-o"></span>
                                    </button>
                                        </div>
                                    </ng-template>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-0 p-0 text-center control control-right" (mouseenter)="scrollRight=true;" (mouseleave)="scrollRight=false;">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ngb-accordion #acc="ngbAccordion" class="fixed-bottom text-sm text-center">
                <ngb-panel id="toggle-1">
                    <ng-template ngbPanelTitle>
                        <div class="text-center"><i class="fa fa-chevron-up"></i></div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div id="available-classes" class="table-responsive scroll-x" dropDirective (dropEvent)="addDropItem($event, null, -1, 0)">
                            <div class="d-inline-flex text-white justify-content-center">
                                <div *ngFor="let class of availableClasses" class="m-1 bg-primary not-set-class">
                                    <div [dragDirective]='class' [dragHightlight]="'drag-highlight'" (releaseDrop)="releaseDrop(class)" (startDrag)="startDrag(class, null, -1)">
                                        <div><b>{{ getShortName(class.subject.name) }}</b></div>
                                        <div>{{ class.type }}</div>
                                        <div>{{ getGroupsAsString(class.groups) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>