#schedule-editor {
    height: 90%;
}

#schedule-table {
    width: 100%;
    height: 50%;
    /* margin-bottom: 5em; */
}

.text-sm {
    font-size: 0.8em;
}

#schedule-table .fixed {
    position: absolute;
    padding-top: 2em;
    width: 2vw;
    border: none;
}

#schedule-editor .control.control-right {
    margin-left: -2em;
}

#schedule-editor .control.control-left {
    margin-right: -2em;
}

#schedule-editor .control {
    width: 2em;
    z-index: 10;
}

#schedule-editor .control:hover {
    background-color: rgb(0, 0, 255, 0.2);
}

#schedule-table th,
#schedule-table td {
    padding: 10em auto;
}

.scroll-x {
    overflow-x: scroll;
    overflow-y: scroll;
}

#schedule-table td.suitable-true {
    background-color: #CCFACC;
}

#schedule-table td.suitable-false {
    background-color: #FACCCC;
}

#schedule-table td :nth-child(2) {
    margin-top: 0.3rem;
}

#schedule-table .btn-sm {
    height: 1.8em;
    padding: 0.2em 0.1em;
    line-height: 1.2em;
}

#schedule-table .placeholder {
    visibility: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
}

.not-set-class {
    width: 8em;
}